{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-5 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-5 pt-6 pb-3 shadow">
            <form method="post">
                {% csrf_token %}
                <br>
                <h4 class="text-center text-muted">ورود به حساب کاربری</h4>
                <br>
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-success mt-4 w-100" >ورود</button>
                    <div class="line-with-middle-sep">

                    </div>

                    <p class="text-muted">حساب کاربری ندارید؟ <a class="text-decoration-none text-success" href="{% url 'signup' %}">ثبت نام کنید.</a></p>
                    <p class="text-muted">رمز عبور خود را فراموش کردید؟ <a class="text-decoration-none text-success" href="{% url 'password_reset' %}">اینجا کلیک کنید.</a></p>
                </div>
            </form>
        </div>

    </div>

{% endblock %}