{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-5 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-5 pt-6 pb-3 shadow">
            <form method="post">
                {% csrf_token %}
                <br>
                <h1 class="text-center">بازیابی رمز عبور</h1>
                <br>
                {{ form|crispy }}
                <div class="form-group">
                    <button class="btn btn-primary mt-5 mb-3 w-100">ارسال</button>
                </div>
            </form>

        </div>

    </div>

{% endblock %}