{% extends '_base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
    <div class="card my-3 mt-5 shadow">
        <h3 class="card-header bg-warning text-center ">ذخیره رمز عبور جدید </h3>
        <div class="card-body">
            <h2 class="card-text mt-5 mb-5 text-center">
                رمز عبور جدید ذخیره شده است. شما میتوانید از این <a href="{% url 'login' %} "
                                                                    class="text-decoration-none">لینک</a> وارد شوید
            </h2>
        </div>
    </div>
{% endblock %}