{% extends '_base.html' %}

{% block title %}Successful {% endblock %}

{% block content %}
          <div class="card my-3 mt-5 shadow">
                    <h3 class="card-header bg-warning text-center ">رمز عبور به ایمیل شما ارسال شد </h3>
                    <div class="card-body">
                        <h2 class="card-text mt-5 mb-5 text-center">
                            * لطفا ایمیل خود را چک کنید *
                        </h2>
                    </div>
                </div>

{% endblock %}