{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Signup{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center mt-3" dir="ltr">
        <div class="col-xl-5 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-5 pt-6 pb-3 shadow">
            <form method="post">
                {% csrf_token %}
                <br>
                <h2 class="text-center text-muted">ثبت نام</h2>
                <br>
                {{ form|crispy }}
                <div class="form-group">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mt-2">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mt-4 w-100" >ثبت نام</button>

                </div>

            </form>
        </div>

    </div>

{% endblock %}